{% extends 'base.html' %}
{% block content %}


<h3><strong>Muranga County Polls</strong></h3>




 <div class="apa" style="text-align: left;">
          
  {% if user.is_authenticated %}
 
  
       <!-- <a class="nav-link waves-effect" style="color: cornsilk;"><strong>
      Hi {{ user.username }}! <i class="fas fa-id-card"></i></strong>
      </a>
      <a class="nav-link waves-effect" href="{% url 'logout' %}" style="color: rgb(226, 227, 235);"><strong>Log-Out <i class="fas fa-users"></i></strong></a> -->
   
      <div class="list-group">
        {% for question in questions %}
        <a href="{% url 'vote' question.id %} " class="list-group-item list-group-item-action">
            <h5>{{question.question}}</h5></a>
       {% endfor %} 
        
     </div>
  
  {% else %}
     
      <a class="nav-link waves-effect" href="{% url 'signup' %}"> Sign-Up &nbsp<i class="fas fa-sign-in-alt"></i></a>
     
      </div>
  {% endif %}

</div>

    
    

{% endblock %}